<div class="track">
  <div class="track__header">
    <div class="track__actions">
      <button
        type="button"
        class="track__btn track__btn--icon"
        [disabled]="actionsDisabled"
        (click)="select.emit(id)"
        aria-label="Select car"
        title="Select"
      >
        ✎
      </button>
      <button
        type="button"
        class="track__btn track__btn--icon track__btn--danger"
        [disabled]="actionsDisabled"
        (click)="remove.emit(id)"
        aria-label="Remove car"
        title="Remove"
      >
        ✕
      </button>
    </div>

    <div class="track__engine">
      <button
        type="button"
        class="track__btn track__btn--engine"
        [disabled]="!canStart"
        (click)="startEngine.emit(id)"
        aria-label="Start engine"
        title="Start engine"
      >
        ▶
      </button>
      <button
        type="button"
        class="track__btn track__btn--engine"
        [disabled]="!canStop"
        (click)="stopEngine.emit(id)"
        aria-label="Stop engine"
        title="Stop engine"
      >
        ■
      </button>
    </div>

    <span class="track__name">{{ name }}</span>
  </div>

  <div class="track__lane">
    <div class="track__road">
      <div
        class="track__car"
        [class.track__car--driving]="isDriving"
        [class.track__car--broken]="isBroken"
        [style.animation-duration.ms]="duration"
      >
        <ar-car [color]="color" />
      </div>

      <div class="track__finish" aria-label="Finish line">🏁</div>
    </div>
  </div>
</div>